@font-face {
  font-family: "Peyda";
  src: url("../assets/fonts/Peyda.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Peyda-web";
  src: url("../assets/fonts/PeydaWeb.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

