#root {
  width: 100%;
  height: 100dvh;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: Peyda;
  src: url("https://cdn.mxit.ir/fonts/Peyda/Peyda.eot");
  src: url("https://cdn.mxit.ir/fonts/Peyda/Peyda.eot")
      format("embedded-opentype"),
    url("https://cdn.mxit.ir/fonts/Peyda/Peyda.woff2") format("woff2"),
    url("https://cdn.mxit.ir/fonts/Peyda/Peyda.woff") format("woff"),
    url("https://cdn.mxit.ir/fonts/Peyda/Peyda.ttf") format("truetype");
}

